<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css ">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">

    <title>About</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-fluid">
        <h2 id="header">About</h2>
        <h4>Creator: Chris Reid</h4>
        <p>Student currently in third year of a Beng Computing degree.</p>
        <p>This web app was created as coursework for the 'Advanced Web Technologies' module using
        python flask.
        </p>

        <h2>Contact</h2>
        <h4>Email: 40202859@live.napier.ac.uk</h4>
        <h4>Github:<a href="https://github.com/ChrisReid88"> ChrisReid88</a></h4>
    </div>
</body>
</html>