<!doctype html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Home</title>

</head>
<body>
    {% include 'menu.html' %}

    <div class="container">
        <div class="row">
                {% for value in response %}
                    <div class="well col-lg-6 text-center">
                        <h4> {{ value['name']}}</h4>
                        <img src="{{ value['poster']}}" class="images" alt="{{ value['name'] }}">
                    </div>

                {% endfor %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>