<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css ">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">

    <title>Contact</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-fluid">
         <h2 id="header">Contact</h2>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3 well  ">
                    <h3 id="creator">Creator: Chris Reid</h3>
                    <img src="/static/imgs/prof.jpg" alt="" id="prof"><br>
                    <p>Student currently in third year of a Beng Computing degree.</p>
                    <p>This web app was created as coursework for the 'Advanced Web Technologies' module using
                    python flask.
                    </p>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3 well">
                    <h4>Email: 40202859@live.napier.ac.uk</h4>
                    <h4>Github:<a href="https://github.com/ChrisReid88"> ChrisReid88</a></h4>

                    <h2>Feedback</h2>

                    <form action="" method="POST" name="form" id="feedback">
                        <label for="name" class="feedback-labels">Name: </label>
                        <input type="text" name="name" id="name"/><br>
                        <label for="email" class="feedback-labels">Email:</label>
                        <input type="text" name="email"/><br>
                        <label for="message" class="feedback-labels">Message:</label><br>
                        <textarea name="message" id="" cols="30" rows="10"></textarea><br>
                        <input type="submit" name="submit" id="submit" value="Send">
                    </form>
                </div>
            </div>
    </div>
</body>
</html>