<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">

    <title>{{ genre }}</title>
</head>
<body>
{% include 'menu.html' %}
    <h1 id="header">{{ genre }}</h1>
    <div class="container">
        {% for value in response.values() %}
                {% if  genre  in value['genre'] %}
                      <a href="../{{ value['urlname'] }}">
                            <div class="well col-lg-4 text-center homeWell">
                                <h3 id="movie"> {{ value['name']}}</h3>
                                <img src="{{ value['poster']}}" class="images" alt="{{ value['name'] }}">
                            </div>
                      </a>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>