<!doctype html>
<html lang="en">
<head>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
    <title>Home</title>

</head>
<body>
    {% include 'menu.html' %}
    <h1 id="header">Top rated movies of 2017</h1>

    <div class="container">
        <div class="row">
                {% for value in response %}
                    <a href="{{ value['urlname'] }}">
                        <div class="well col-lg-4 text-center">
                            <h3 id="movie"> {{ value['name']}}</h3>
                            <img src="{{ value['poster']}}" class="images" alt="{{ value['name'] }}">
                        </div>
                     </a>

                {% endfor %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>