<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet"  type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">

    <title>{{ response[name].name }}</title>
</head>
<body>
{% include 'menu.html' %}
{# wiki url that will have the name appended to it.#}
{% set wiki = 'https://en.wikipedia.org/wiki/' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 id="header">{{ response[name].name }}</h2>
                <!-- Setting the url for wiki (changing the space between names to an underscore) and displaying the correct data from JSON. -->
                <h4>Director: <a href="{{ wiki + response[name].director }}">{{ response[name].director }}</a></h4>
                <!-- Looping through to display all the items in the list and displaying them. Also removes the trailing ',' -->
                <h4>Stars: {% for value in response[name].stars %} <a href="{{ wiki + value|replace(" ","_")}}" >{{ value }}{{ "," if not loop.last }} </a>{% endfor %}</h4>
                <h4>Genres: {% for value in response[name].genre %}{{ value }}{{ "," if not loop.last }} {% endfor %}</h4>
                <h4>Released: {{ response[name].release  }}</h4>
                <h4>Runtime: {{ response[name].length }} minutes</h4>
                <h4>Distributor: {{ response[name].distributor }}</h4>
                <h4>Age rating: {{ response[name].agerating }}</h4>
                <h4>Synopsis: {{ response[name].synopsis }} </h4>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <img src="{{ response[name].poster }}" alt="{{ response[name].name }}" class="poster">
            </div>
        </div>
    </div>
</body>
</html>