.images{
    max-width:200px;
    max-height:400px;
}

body{
    height:100%;
    /*background-color: #333333 !important;*/
}

.well {
    height: 400px;
}

#header {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding: 20px 0px;
    margin: 0;
}

navbar-inverse{
    border-radius: 0;
}

.poster{
    float:right;
    max-width: 400px;
}
